.main {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    margin-top: 1rem;
    align-self: center;
    align-items: center;
    width: 8rem;
    height: 2.75rem;
    padding: 0.5rem;
    border: 0.2rem solid #dfe1e5;
    background-color: var(--color-white);
    border-radius: 1.5rem;
    transition: width 0.2s ease-in-out;
}

.searchInput {
    background-color: none;
    opacity: 0;
    flex: 1;
    font-size: 1rem;
    border: none;
    outline: none;
    margin-left: 0.5rem;
}

.searchInput:focus {
    opacity: 1;
}

.search:focus-within {
    width: 20rem;
    border-color: var(--color-accents);
}
