.main {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
}

.form textarea {
    resize: none;
}

.form input,
select,
textarea {
    padding: 0.5rem;
    margin-left: 2rem;
    width: 30vw;
    border-radius: 0.5rem;
    border: 2px solid black;
    font-size: 1rem;
    margin-left: 0;
}

.form select {
    font-weight: bold;
}

.form input,
select {
    text-align: center;
}

.form input {
    text-transform: capitalize;
}

.form input:focus {
    outline-color: var(--color-accents);
}

.selectList {
    text-transform: capitalize;
}

.starList {
    display: flex;
    list-style: none;
    height: 2rem;
    justify-content: center;
}

.starList svg {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0;
}

@media only screen and (max-width: 769px) {
    .title {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .form input,
    textarea,
    select {
        width: 90%;
    }

    .starList {
        height: 2rem;
    }
}
