.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: var(--color-white);
    width: 25rem;
    height: 25rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.title {
    text-align: center;
    padding-bottom: 0.5rem;
}

.form label {
    display: flex;
    justify-content: space-between;
}

.form input {
    text-align: center;
    margin-left: 2rem;
    width: 65%;
    border-radius: 0.5rem;
    border: 2px solid black;
    font-size: 1rem;
}

.form input:focus {
    outline-color: var(--color-accents);
}

@media only screen and (max-width: 767px) {
    .form input {
        font-size: 0.72rem;
    }
}
